body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111;
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 300%;
  height: 300%;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
  background-repeat: repeat;
  opacity: 0.1;
  pointer-events: none;
  z-index: 0;
  animation: animateGrain 8s steps(10) infinite;
}

.hero,
.navigational-bar,
.section2 {
  position: relative;
  z-index: 1;
}

@keyframes animateGrain {
  0%, 100% { transform: translate(0, 0); }
  10% { transform: translate(-5%, -10%); }
  20% { transform: translate(-15%, -20%); }
  30% { transform: translate(-5%, -10%); }
  40% { transform: translate(-15%, -20%); }
  50% { transform: translate(-5%, -10%); }
  60% { transform: translate(-15%, -20%); }
  70% { transform: translate(-5%, -10%); }
  80% { transform: translate(-15%, -20%); }
  90% { transform: translate(-5%, -10%); }
  100% { transform: translate(-15%, -20%); }
}

::selection {
  background-color: #EEAA18;
  color: #111;
}

.rfm-marquee-container {
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  width: var(--width);
  transform: var(--transform);
}

.rfm-marquee-container:hover div {
  animation-play-state: var(--pause-on-hover);
}

.rfm-marquee-container:active div {
  animation-play-state: var(--pause-on-click);
}

.rfm-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.rfm-overlay::before, .rfm-overlay::after {
  background: linear-gradient(to right, var(--gradient-color), rgba(255, 255, 255, 0));
  content: "";
  height: 100%;
  position: absolute;
  width: var(--gradient-width);
  z-index: 2;
  pointer-events: none;
  touch-action: none;
}

.rfm-overlay::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.rfm-overlay::before {
  left: 0;
  top: 0;
}

.rfm-marquee {
  flex: 0 0 auto;
  min-width: var(--min-width);
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: scroll var(--duration) linear var(--delay) var(--iteration-count);
  animation-play-state: var(--play);
  animation-delay: var(--delay);
  animation-direction: var(--direction);
}

@keyframes scroll {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

.rfm-initial-child-container {
  flex: 0 0 auto;
  display: flex;
  min-width: auto;
  flex-direction: row;
  align-items: center;
}

.rfm-child {
  transform: var(--transform);
}

.service {
  position: relative;
  width: 100%;
  padding: 45px 0 15px 0;
}

.service .service-item {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 0 0 transparent;
  transition: ease-out 0.5s;
}

.service .service-item:hover {
  box-shadow: inset 800px 0 0 0 #EEAA18;
  background: #111;
}

.service .service-icon {
  position: relative;
  width: 150px;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #5a5a5a;
  background: #111;
  overflow: hidden;
  z-index: 1;
}

.service .service-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 300%;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
  background-repeat: repeat;
  opacity: 0.1;
  pointer-events: none;
  z-index: 0;
  animation: animateGrain 8s steps(10) infinite;
}

.service .service-icon i {
  position: relative;
  font-size: 60px;
  color: #5a5a5a;
  transition: .3s;
  z-index: 2;
}

.service .service-item:hover i {
  font-size: 75px;
  color: #EEAA18;
}

.service .service-text {
  position: relative;
  width: calc(100% - 120px);
  padding: 0 30px;
  color: #E0E0E0;
}

.service .service-text h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  transition: 1s;
}

.service .service-text p {
  margin: 0;
  font-size: 16px;
  transition: 1s;
}

.service .service-item:hover .service-text h3,
.service .service-item:hover .service-text p {
  color: #111;
}

.service-item:hover .service-text {
  animation: fastBlink 0.3s ease-out 1;
}

@keyframes fastBlink {
  0%, 20%, 40%, 60%, 80%, 100% { opacity: 1; }
  10%, 30%, 50%, 70%, 90% { opacity: 0; }
}

@media (max-width: 575.98px) {
  .service .service-text h3 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .service .service-text p {
    font-size: 14px;
  }
}
